<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>
<% include ../partials/social-top.ejs %>

  <div class="container">
    <div class="my-solid-background">
      <h1>Articles</h1>
      <p><em>Learn more about the history and heroes of Blessed Astra</em></p>
    </div>
  </div>
</div>

<div style="min-width:90%;" class="container article-index-start-spacer article-index-end-spacer">
  <div style="background:#215e21;" class="row foobar">

    <% articles.forEach(function(article) { %>
      <div class="col-lg-4 col-md-6 article-spacer">
        <div class="articleRow ar-image" style="background-image: url(<%= article.image_url%>);">

          <div class="my-solid-background2 articleBrick place-at-top">
            <h3 class="articleTitle"><%= article.title %></h3>
            <p class="articleDescription"><em><%- article.blurb %></em></p>
          </div>

          <div class="place-at-bottom">
            <a class="ui inverted yellow button article-read-button" href="/articles/<%=article._id%>"><h5>READ</h5></a>

            <% if (currentUser && currentUser.username == "jbadams_admin") { %>
              <div class="">
                <span>
                  <a href="/articles/<%=article._id%>/edit" class="ui purple basic button">EDIT</a>
                  <form action="/articles/<%=article._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">DELETE</button>
                  </form>
                </span>
              </div>
            <% } %>

          </div>
        </div>
      </div>
    <% }) %>

  </div>
</div>

<% include ../partials/footer.ejs %>
