<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>
<% include ../partials/social-top.ejs %>

  <div class="container">
    <div class="my-solid-background">
      <h1><%=article.title%></h1>
      <h2>Written by <%=article.author.name%></h2>
      <h2>Part <%=part%> of <em><%=article.series.series%></em></h2>
      <h2>Published on <%=article.formattedDate%></h2>
    </div>
  </div>
</div>

<div class="container article-body">

  <div class="indent article-content">
    <%-article.article_body%>
  </div>
  <hr>

  <div class="row" style="text-align:center;">

    <div class="col-xs-5 previous-article-link">
      <% if (prevArticle !== null ) { %>
        <a href="/articles/<%=prevArticle._id%>"><i class="fas fa-arrow-left"></i> Previous Article</a>
      <% } %>
    </div>

    <div class="col-xs-2">
      <a href="/articles">Back</a>
    </div>

    <div class="col-xs-5 next-article-link">
      <% if (nextArticle !== null ) { %>
        <a href="/articles/<%=nextArticle._id%>">Next Article <i class="fas fa-arrow-right"></i></a>
      <% } %>
    </div>

  </div>
</div>

<script type="text/javascript">
  $("#my-jumbotron").css({
    "background": 'linear-gradient(#01FF7050, #FFBF0050), url("<%=article.image_url%>")',
    "background-repeat": "no-repeat",
    "background-size": "cover",
    "background-position": "center"
  });
</script>

<% include ../partials/footer.ejs %>
