<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/social-top %>

<div class="container">
  <div class="my-solid-background">
    <h1>Edit Era <%=era.archetype%></h1>
    <form action="/eras/<%=era._id%>?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" value="<%=era.archetype%>" name="era[archetype]">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" value="<%=era.maincolor%>" name="era[maincolor]">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" value="<%=era.accentcolor%>" name="era[accentcolor]">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>

</div>

<% include ../partials/footer %>
